.row{
    border-radius: 2px;
    border-width: 2px;
}
.calculator{
    text-align: center;
    cursor: pointer;
}
.button{
    font-size: larger;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    border-width: 4px;
    box-sizing: border-box;
    background-color: aqua;
    border-color: blueviolet;
}
.input{
    font-size: large;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    border-width: 5px;
    background-color:aquamarine;
    border-color:darkslategray;
}